* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.paper-mode {
    filter: grayscale(1);
}
.yellow-paper-mode {
    filter: sepia(1);
}
body {
    background-color: #ffe0e9;
}
.nav {
    width: 100%;
    height: 50px;
    background-color: #db547c;
    display: flex;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}
.menu,
.search {
    background: center/50% 50% no-repeat;
    height: 100%;
}
.menu {
    position: relative;
    width: 50px;
    background-image: url(../images/menu.svg) !important;
}
.n-menu {
    position: absolute;
    left: 10px;
    top: 110%;
    width: 100px;
    height: auto;
    max-height: 0;
    overflow: hidden;
    background-color: #ff6291;
    /* padding: 10px; */
    transition: all 0.3s;
    border-radius: 5px;
}
.menu:hover .n-menu {
    max-height: 200px;
    padding: 5px;
}
.menu-item {
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
}
.menu-item.active {
    background-color: #b8005f;
}
.search {
    width: 50px;
    background-image: url(../images/search.svg) !important;
}
.p-title {
    height: auto !important;
    margin: auto;
    cursor: pointer;
}
.search-box {
    display: none;
    position: relative;
    width: 200px;
    height: 80%;
    border-radius: 5px;
    padding: 5px;
    margin: auto 10px;
    background-color: #f792b1;
}
.search-box-ani {
    overflow: hidden;
    animation: search-box 0.5s;
}
.search-box-ani::after {
    animation: search-box-after 0.5Ss;
}
@keyframes search-box {
    0% {
        padding: 20px;
        width: 40px;
        border-radius: 50%;
        background-color: #db547c;
    }
    70% {
        padding: 20px;
        width: 40px;
        border-radius: 5px;
        background-color: #f792b1;
    }
    100% {
        padding: 5px;
        width: 200px;
        border-radius: 5px;
    }
}
@keyframes search-box-after {
    0% {
        scale: 1.25;
    }
    100% {
        scale: 1;
    }
}
.search-box form {
    width: 100%;
    height: 100%;
}
.search-box input {
    width: 160px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    color: #fff;
}
input::placeholder {
    color: #ffd6ef;
}
.search-box::after {
    display: block;
    position: absolute;
    right: 6px;
    top: 0;
    content: "";
    width: 20px;
    height: 100%;
    background: url(../images/search.svg) center/contain no-repeat;
}
.category {
    height: 80%;
    margin: auto 20px;
    margin-right: auto;
    display: none;
}
.ca-item {
    width: 75px;
    height: 100%;
    margin: 0 5px;
    border-radius: 5px;
    text-align: center;
    background: 5px center/20px no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.ca-item svg {
    width: 20px;
    height: 40px;
}
.ca-item:hover {
    background-color: #ffffff;
    color: #ff6291;
}
.ca-item.active {
    background-color: #ffffff;
    color: #ff6291;
}
.main {
    width: 100%;
    padding: 60px 5px;
}

.scroll-block {
    height: auto;
    overflow: hidden;
    position: relative;
    border-right: 10px solid #db547c;
}
.main h1 {
    color: #ff84a2;
}
.comic-promote {
    margin-top: 20px;
}
.scroll-block::-webkit-scrollbar {
    width: 0;
}
.scroll-bar {
    width: 100%;
    height: 10px;
    overflow: hidden;
}
.bar-inner {
    width: 30%;
    height: 100%;
    background-color: #db547c;
    transition: all 0.5s;
}
.next-btn {
    position: absolute;
    top: calc(50% - 50px);
    right: 0;
    width: 30px;
    height: 100px;
    filter: drop-shadow(0 0 5px #db547c);
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    background: #fff url(../images/next.svg) center/contain no-repeat;
}
.inner {
    width: 4500px;
    height: auto;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    transition: all 0.5s;
}
.book-item {
    width: 290px;
    height: 135px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ddd;
    padding: 5px;
    display: flex;
    margin: 5px 0;
    margin-right: 10px;
    transition: background-color 0.3s;
    background-color: #fff2f8;
}
.book-item:active {
    background-color: #ccc;
}
.b-cover {
    height: 100%;
    width: 100px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    pointer-events: none;
}
.b-cover img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.b-right {
    padding-left: 10px;
    position: relative;
    width: 100%;
    pointer-events: none;
}
.b-title {
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.b-anchor {
    font-size: 15px;
    color: #555;
    margin-top: 10px;
}
.b-score {
    position: absolute;
    bottom: 0;
    left: 10px;
    padding-left: 25px;
    background: url(../images/love.svg) 0 center/auto 90% no-repeat;
    color: #db547c;
}
.b-view {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 25px;
    background: url(../images/eye.svg) 0 center/auto 90% no-repeat;
    color: #db547c;
}
.r-menu {
    position: fixed;
    right: 0;
    bottom: 100px;
    width: 50px;
    background-color: #fff;
    filter: drop-shadow(0 0 5px #db547c);
    border-radius: 7.5px 0 0 7.5px;
    z-index: 9;
    padding: 5px;
}
.r-menu::before,
.r-menu::after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
}
.r-menu::before {
    top: -15px;
    background: radial-gradient(
        circle at 0 0,
        transparent 0 70%,
        #fff 70% 100%
    );
}
.r-menu::after {
    bottom: -15px;
    background: radial-gradient(
        circle at 0 100%,
        transparent 0 70%,
        #fff 70% 100%
    );
}
.reload {
    background: url(../images/reload.svg) center/80% no-repeat;
}
.go-to-top {
    margin-bottom: 5px;
    background: url(../images/top.svg) 7.5px center/62% no-repeat;
}
.r-menu div {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
.r-menu div:hover {
    background-color: #b8005f;
}
.comics-latest,
.comics-result,
.comics-collect {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-around;
}
.comics-latest .book-item,
.comics-result .book-item,
.comics-collect .book-item {
    margin-right: 0;
}
@media screen and (min-width: 800px) {
    .search-box {
        display: block;
    }
    .menu {
        display: none;
    }
    .search {
        display: none;
    }
    .p-title {
        margin: auto 10px;
    }
    .category {
        display: flex;
    }
    .main {
        padding: 60px 5%;
    }
    .cf-mode {
        display: flex !important;
    }
    .chapter-flex {
        display: flex !important;
    }
    .chapter-flex .chapter{
        width: 50% !important;
    }
    .chapter-flex .imgs-view{
        width: 50% !important;
    }
}
.no-more {
    color: #ffb7cd;
    text-align: center;
    display: none;
}
.main-chapter {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
    background-color: #ffdde7;
    border: 5px solid #ff8fc6;
    border-top: none;
}

.chapter-flex .cf-mode svg {
    transform: rotate(180deg);
}
.loading-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(91, 0, 30, 0.757);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.loading {
    width: 50px;
    height: 50px;
    border: 5px solid #ff3556;
    border-top-color: transparent;
    border-radius: 100%;
    animation: circle infinite 0.75s linear;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.chapter {
    width: 50%;
    height: fit-content;
    position: sticky;
    transition: top 0.3s;
}
.comic-bg {
    position: relative;
    width: 100%;
    height: 300px;
    color: #fff;
    background: center/cover no-repeat;
}
.full-blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}
.title {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    flex-shrink: 0;
}
.title-left {
    width: 130px;
    height: 100%;
}
.title span {
    display: block;
    width: 60%;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 0 #43393f;
    word-break: break-all;
    /* max-height: 100%; */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: center;
}
.comic-info {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 250px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: end;
}
.cover {
    width: 130px;
    height: 200px;
}
.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #db547c;
}

.like svg,
.view svg {
    height: 100%;
    width: 22px;
    /* padding-top: 10px; */
    margin-right: 4px;
    transform: translateY(5px);
}
.like i {
    font-style: normal;
}
@media screen and (max-width: 375px) {
    .title span {
        width: 50%;
    }
    .like i {
        display: none;
    }
}
.s-bg {
    width: 100%;
    height: 38px;
    background-color: #db547c;
}
.imgs-view {
    width: 50%;
}
.imgs-msg {
    width: 100%;
    height: 50px;
    background-color: #db547c;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-top: 1px solid #f792b1;
    position: relative;
}
.comic-imgs {
    width: 100%;
    margin-top: -400px;
}
.fs-mode,
.cf-mode {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #ff84a2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fs-mode:hover svg {
    transform: scale(1.3);
}
.cf-mode svg {
    transform: rotate(90deg);
}
.fs-mode svg,
.cf-mode svg {
    width: 25px;
    height: 30px;
    transition: transform 0.3s;
}
.cf-mode {
    right: 50px;
    display: none;
}
.fs {
    height: 100%;
    overflow: scroll;
}
.imgs-control {
    width: 30px;
    height: 200px;
    border-radius: 5px;
    position: sticky;
    top: 130px;
    margin-top: 200px;
    margin-left: calc(100% - 40px);
    background-color: #ffceee;
    /* overflow: hidden; */
    /* background: #db547c repeating-linear-gradient(to bottom,#ffa6ca 0 1px,transparent 1px 10px) repeat; */
    z-index: 9;
    /* overflow-y: hidden; */
    /* background: linear-gradient(to bottom,#f792b1,#b8005f); */
    cursor: move;
}
.control-inner {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.control-inner canvas {
    width: 100%;
    height: 100%;
}
.control-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #b8005f;
}
.control-bar::after {
    content: "";
    display: block;
    width: 6px;
    height: 2px;
    background-color: #b8005f;
    position: absolute;
    top: calc(100% - 1px);
    right: calc(100% + 5px);
    box-shadow: 1px 1px 0 0 #fff;
}
.img-index {
    position: absolute;
    right: calc(100% + 13px);
    top: calc(100% - 10px);
    color: #b8005f;
    text-shadow: 1px 1px 0 #fff;
    line-height: 18px;
    transition: transform 0.1s;
}
.draging {
    transform: scale(2);
    right: calc(100% + 26px);
}
.image {
    position: relative;
    width: 100%;
    transition: height 0.3s;
    /* background: linear-gradient(to bottom,#43393f 0 5px); */
}
.image img,
.image canvas {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
    position: relative;
}
.image img {
    filter: brightness(0);
}
.error-img {
    min-height: 500px;
}
.error-img .image-bg {
    border-color: #ff0000;
}
.image-bg {
    position: absolute;
    /* z-index: 0; */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #555;
    border: 10px solid #43393f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
}
.more {
    /* background-image: linear-gradient(to bottom, #db547c, transparent 150px); */
    background: linear-gradient(to bottom, #db547c, transparent 150px),
        url(../images/bg.jpeg) center/200px;
    width: 100%;
    padding: 20px;
    position: relative;
}
.comic-id {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
    font-style: italic;
    color: #ffa3bf;
    font-weight: 700;
    z-index: -1;
}
.functions {
    display: flex;
    width: fit-content;
    height: 50px;
    /* border-radius: 5px; */
    /* overflow: hidden; */
    /* margin: auto; */
    margin-top: 20px;
    font-size: 20px;
}
.read,
.collect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
.read {
    width: 150px;
    color: #fff;
    background-color: #db547c;
    border-radius: 5px;
}
.collect {
    width: 50px;
    border-radius: 5px;
    background-color: #ffa3bf;
    margin-left: 5px;
}
.collect svg {
    width: 50%;
    height: 50%;
    fill: transparent;
    transition: fill 0.1s;
}
.collect:hover svg {
    /* fill: #db547c; */
    animation: jump 0.3s;
}
.isCollect svg {
    fill: #db547c;
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
@media screen and (max-width: 600px) {
    .more {
        padding: 10px;
    }
    .comics-latest .book-item,
    .comics-result .book-item,
    .comics-collect .book-item {
        width: 100%;
    }
}
@media screen and (min-width: 601px) and (max-width: 980px) {
    .comics-latest .book-item,
    .comics-result .book-item,
    .comics-collect .book-item {
        width: 49%;
    }
}
.author {
    color: #fff;
    height: 30px;
}
.author a {
    color: inherit;
    text-decoration: none;
}
.author a:hover {
    text-decoration: underline;
}
.tags {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 7px;
}
.tag {
    display: block;
    text-decoration: none;
    width: fit-content;
    padding: 5px 10px;
    background-color: #ff84a2;
    color: #fff;
    border-radius: 15px;
}
.tag:hover {
    text-decoration: underline;
    background-color: #ff6f93;
}
.series-container {
    color: #fff;
    margin: 20px 0;
    display: none;
}
.series-container h3 {
    line-height: 30px;
    font-weight: 400;
}
.series {
    width: 100%;
    height: auto;
    overflow: scroll;
    display: flex;
    gap: 10px;
    margin-top: 5px;
}
.series::-webkit-scrollbar {
    width: 0;
}
.series-item {
    padding: 10px 20px;
    border-radius: 5px;
    flex-shrink: 0;
    background-color: #db547c;
    cursor: pointer;
}
.series-item.active {
    background-color: #b8005f;
}
.forum {
    position: relative;
    width: 100%;
    margin-top: 40px;
    transition: height 0.5s;
}
.forum h2 {
    color: #fff;
    text-shadow: 1px 1px 1px #b8005f;
    text-align: center;
}
.forum-inner {
    width: 100%;
}
.fold-forum-btn {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 30px;
    background-color: #ff557f;
    border-radius: 5px 5px 0 0;
    z-index: 2;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}
.forum.unfold {
    height: auto;
}
.load-more-c {
    text-align: center;
    font-size: 17px;
    color: #b8005f;
    cursor: pointer;
    height: 20px;
    margin-bottom: 20px;
}
.f-item {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    word-break: break-all;
    border-bottom: 1px solid #ffb9d9;
}
.user-msg {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}
.user-img {
    width: 40px;
    height: 40px;
    margin: auto 10px;
}
.user-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-name {
    color: #db547c;
}
.f-text {
    color: #b8005f;
    padding: 5px 60px;
    line-break: anywhere;
}
@media screen and (max-width: 1200px) {
    .main-chapter {
        width: 100%;
        display: block;
        border: none;
    }
    .chapter {
        width: 100%;
        position: initial;
    }
    .imgs-view {
        width: 100%;
    }
    .forum {
        height: 300px;
        overflow: hidden;
        border-bottom: 5px solid #ff557f;
        background-color: rgba(255, 137, 163, 0.2);
    }
    .fold-forum-btn {
        display: block;
    }
}
p[align="center"] {
    display: none;
}
.setting-main {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    border-left: 3px solid #d51b6c;
    padding: 20px 0;
    user-select: none;
}
.setting-item {
    display: flex;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    height: 70px;
    color: #ff557f;
    padding: 0 30px;
    transition: all 0.5s;
}
.setting-item a {
    color: inherit;
}
.setting-item:hover {
    padding-left: 40px;
    color: #fff;
    background: linear-gradient(to right, #de3d83, transparent);
}
.item-name {
    height: 70px;
    font-size: 25px;
    line-height: 70px;
}
.item-value {
    width: 130px;
    height: 50px;
    font-size: 25px;
    background-color: #db547c;
    border-bottom: 5px solid #b8005f;
    margin-left: 70px;
}
.item-option {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: #fff;
}
.toggle-server {
    position: absolute;
    display: flex;
    height: 100%;
    width: fit-content;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}
.toggle-server:hover {
    background-color: #ff557f;
}
.toggle-server:hover .server-menu{
    max-height: 300px;
    border-width: 5px;
}
.server-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    height: auto;
    background-color: #db547c;
    border-bottom: 0 solid #b8005f;
    max-height: 0;
    z-index: 999;
    overflow: hidden;
    transition: all 0.3s;
}
.server-menu a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.server-menu a:hover {
    background-color: #ff557f;
}